   /*---------background-color-----------*/
    .clr-back-cyan{
    background: #066767;
    }
    .clr-back-gray{
        background: darkgrey;
    }
    .clr-back-gainsbro{
         background: gainsboro;
    }









    /*------color-------*/
    .clr-white{
        color: white;
    }